    <footer class="footer">
        <p class="footer-content">&copy; on accordance to Tanmay Gupta</p>
    </footer>
    <script>
        const weather = <%- JSON.stringify(locals.weather) %>;
        const weatherType = <%- JSON.stringify(locals.weatherType) %>;
    </script>
    <script src="/javascript/script.js"></script>
    </body>
</html>